*{
    margin: 0;
    padding: 0;
}
#Header{
    padding : 18px 170px;
    display: flex;
    justify-content:space-between;
    box-shadow: 2px -16px 20px black;
}
#rightChild{
    display: flex;
}
#rightChild div{
    padding : 0px 15px;
    color : grey;
    font-family:Arial, Helvetica, sans-serif;
    font-size : 13px;
}
#rightChild div:hover{
    cursor: pointer;
    color : rgb(43, 141, 232);
    transition: color .3s;
}
#content1{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#content2{
    font-family:Arial, Helvetica, sans-serif;
    color : rgb(90, 89, 89);
}
.btn{
    background-color: rgb(56, 130, 200);
    color : white;
    border : none;
    padding : 10px 23px;
    border-radius : 2px;
    font-size : 16px;
}
.btn:hover{
    cursor: pointer;
    background-color: black;
}